div{
    margin-right: 2%;
    margin-left: 2%;
    min-width: 96%;
}
img{
    padding: 0 0.5%;
    max-width: 6.5%;
}

table{
    margin-left: 30%;
}
body{
    background-color: gray;
}

.clear-img{
    opacity: 0.1;
}
.container{
    text-align: center;
    border: 2px solid black;
}
.container-top{
    text-align: center;
    background-color: black;
    color: aqua;
}
input{
    font-size: 14pt;
    text-align: center;
}

#menucard{
    max-width: 30%;
}